---
http_interactions:
- request:
    method: post
    uri: https://api.spark.io/v1/devices/good_core_id/analogread
    body:
      encoding: UTF-8
      string: access_token=good_access_token&params=A6
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "good_core_id",
          "name": "First Core",
          "last_app": null,
          "connected": true,
          "return_value": 2399
        }
  recorded_at: Wed, 25 Dec 2013 06:13:11 GMT
recorded_with: VCR 2.5.0
