---
http_interactions:
- request:
    method: post
    uri: https://api.particle.io/v1/devices/good_device_id/digitalwrite
    body:
      encoding: UTF-8
      string: access_token=good_access_token&params=D7%2CHIGH
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "good_device_id",
          "name": "First Device",
          "last_app": null,
          "connected": true,
          "return_value": 1
        }
  recorded_at: Wed, 25 Dec 2013 06:11:51 GMT
recorded_with: VCR 2.5.0
