---
http_interactions:
- request:
    method: post
    uri: https://api.spark.io/v1/devices/good_core_id/readTemp
    body:
      encoding: US-ASCII
      string: access_token=good_access_token&params=outside
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"good_core_id\",\n  \"name\": \"chippy\",\n
        \ \"last_app\": null,\n  \"connected\": true,\n  \"return_value\": 72\n}"
  recorded_at: Thu, 20 Feb 2014 21:45:09 GMT
recorded_with: VCR 2.5.0
