---
http_interactions:
- request:
    method: get
    uri: https://api.spark.io/v1/devices/good_core_id/?access_token=good_access_token
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\n  \"id\": \"good_core_id\",\n  \"name\": \"chippy\",\n
        \ \"variables\": {\n    \"temperature\": \"int32\"\n  },\n  \"functions\":
        [\n    \"readTemp\"\n  ]\n}"
  recorded_at: Thu, 20 Feb 2014 21:43:07 GMT
recorded_with: VCR 2.5.0
